@page "/"
@model Chirp.Web.Pages.PublicModel
@using Chirp.Core
@inject SignInManager<Author> SignInManager
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";

    var currentPage = 1;
}

<div>
    <h2> Public Timeline </h2>
    @if (SignInManager.IsSignedIn(User)) {
        <div class="cheepbox">
            <h3>Chirp little bird, @(User.Identity!.Name ?? "anon") </h3>
            <form method="post">
                @Html.AntiForgeryToken()
                <div>
                    <input style="float: left" type="text" asp-for="Text" maxlength="200">
                    <input type="submit" value="Share">
                </div>
                
                <span asp-validation-for="Text" class="text-danger"></span>
            </form>
        </div>
    }

    @if (Model.Cheeps.Result.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps.Result)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.AuthorName">@cheep.AuthorName</a>
                        </strong>
                        @cheep.Text
                        <small>&mdash; @cheep.Timestamp</small>
                        <button class="followbutton" asp-page-handler="FollowBtn" asp-route-authorName="@cheep.AuthorName" onclick="toggleFollow(this)">Follow</button>
                    </p>

                </li>
            }
        </ul>
        
        <div class="navigation">
            @if (currentPage > 1)
            {
                <a href="/page/@(currentPage - 1)">« Prev</a>
            }
            <a href="/page/@(currentPage + 1)">Next »</a>
            <a href="/">Home</a>
        </div>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
    
    <script>
        function toggleFollow(btn) {
            if (btn.innerText === "Follow") {
                btn.innerText = "Unfollow";
                btn.classList.add("unfollowbutton");
            } else {
                btn.innerText = "Follow";
                btn. classList.remove("unfollowbutton");
            }
        }
    </script>
}

