@page "/{author}"
@model Chirp.Web.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
    var currentPage = Model.CurrentPage;
}

<div>
    @if (Model.IsOwnTimeline)
    {
        <h2>My Timeline - Page @currentPage</h2>
    }
    else
    {
        <h2>@routeName's Timeline - Page @currentPage</h2>
    }

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <div class="cheep-item">
                        <img src="@cheep.ProfilePicturePath" class="pfp" alt="Profile picture" />

                        <div class="cheep-body">
                            <div class="cheep-header">
                                <strong>
                                    <a href="/@cheep.AuthorName">@cheep.AuthorName</a>
                                </strong>
                            </div>

                            <div class="cheep-content">
                                <p>@cheep.Text</p>

                                <div class="cheep-footer">
                                    <small>&mdash; @cheep.Timestamp</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>

        <div class="navigation">
            @if (currentPage > 1)
            {
                <a href="/@routeName/page/@(currentPage - 1)">« Prev</a>
            }
            @if (Model.HasNextPage)
            {
                <a href="/@routeName/page/@(currentPage + 1)">Next »</a>
            }
            <a href="/">Home</a>
        </div>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>